@model CapaEntidad.MUEB_USUARIO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    JQueryFormValueProviderFactory
    JQueryFormValueProvider;

}
@Scripts.Render("~/Scripts/jquery-3.6.4.min.js")

@Scripts.Render("~/Scripts/sweetalert.min.js")
@Styles.Render("~/Content/sweetalert.css")

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="~/Imagenes/Captura_de_pantalla_2023-05-25_192441-removebg-preview.png" width="250px" height="250px"/>
            <h1 class="display-4 fw-bolder">
                Muebles Los Alpes
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Encuentra los mejores muebles</p>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <div class="container-fluid px-5 my-5">

        <div class="row">

            <div class="col-sm-3">


                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Categorias
                            </div>
                            <div id="contenedor_categoria" class="card-body">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Marcas
                            </div>
                            <div id="contenedor_proveedores" class="card-body">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnaplicarfiltro" class="btn btn-outline-dark btn-block" type="button">
                                <i class="fas fa-filter"></i>Aplicar Filtros
                            </button>
                        </div>
                    </div>

                </div>



            </div>

            <div class="col-sm-9">
                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">




                </div>
            </div>


        </div>


    </div>
</section>

@section scripts{


    <script>
        $(document).ready(function () {

            MostrarCategorias();
            MostrarProductos(0, 0)
        })
        // categorias
        function MostrarCategorias() {
            
            jQuery.ajax({
                url: "@Url.Action("ListaCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {




                    $("<div>").addClass("form-check").append(

                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "cx" })
                    ).appendTo("#contenedor_categoria")


                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.CAT_ID, "id": "c" + i }),
                            $("<label>").addClass("form-check-label").text(element.CAT_NOMBRE).attr({ "for": "c" + i })
                        ).appendTo("#contenedor_categoria")

                    })

                    MostrarProveedores();

                }


            })
        }







        //MOSTRAR PROVEEDORES-----------------------------------------------------------------------------------------------------------


        function MostrarProveedores() {

            var _idcategoria = $("input[name=categoria]:checked").val()

            jQuery.ajax({
                url: "@Url.Action("ListarProveedorporCategoria", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_proveedores").html("");


                    $("<div>").addClass("form-check").append(

                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "proveedor", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx" })
                    ).appendTo("#contenedor_proveedores")


                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "proveedor", "value": element.PROV_ID, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.PROV_NOMBRE).attr({ "for": "m" + i })
                        ).appendTo("#contenedor_proveedores")

                    })

                },


            })

        }
         $(document).on("change", "input[name=categoria]", function () {
             MostrarProveedores();

        })



// MOSTRAR PRODUCTOS------------------------------------------------------------------------------------------------------------------
 function MostrarProductos(_idcategoria,_idmarca) {


            jQuery.ajax({
               url: "@Url.Action("ListarProducto", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria , idmarca : _idmarca}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_producto").html("");



                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("col mb - 5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.PROD_EXTENSION + ";base64," + element.PROD_BASE64 }).css({ "width": "260px", "height": "260px", "object-position": "center" }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.PROD_NOMBRE),
                                        "Q " + element.PROD_PRECIO.toFixed(2)
                                    )
                                ),
                                 $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                        $("<div>").addClass("d-grid gap-2").append(

                                          @if (Session["Cliente"] != null) {

                                             @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idproducto",element.PROD_ID_PK).text("Agregar a carrito"),

                                         }

                                            $("<a>").addClass("btn btn-dark mt-auto")
                                            .attr({ "href": "@Url.Action("DetalleProducto", "Tienda")" + "?idproducto=" + element.PROD_ID_PK })
                                            .text("Ver detalle")
                                        )


                                 )

                            )
                        ).appendTo("#contenedor_producto").css({ "margin-top": "40px" })

                    })


                }
            })
        }

        $("#btnaplicarfiltro").click(function () {
            var _idcategoria = $("input[name=categoria]:checked").val()
            var _idmarca = $("input[name=proveedor]:checked").val()
            MostrarProductos(_idcategoria, _idmarca)
        })
        //-------------------- CARRITO ---------------------------------------------------
        $(document).on("click", "button.agregarcarrito", function () {
            console.log($(this).data("idproducto"))

            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        MostrarCantidadCarrito();
                        swal({
                            title: "Agregado al carrito",
                            text: "Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                                    window.location.href = '@Url.Action("Carrito", "Tienda")'
                            });

                    } else {


                    }
                }
            })
        })









    </script>

}
