@model CapaEntidad.MUEB_CLIENTE
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/Azul.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear una cuenta</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("Registrar","Acceso")" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(m => m.CLI_NOMBRE, new { @class = "form-control", @id = "txtNombre", @placeholder = ".", value = ViewData["CLI_NOMBRE"] })
                                                    @Html.Label("txtNombre", "Nombre")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    @Html.TextBoxFor(m => m.CLI_APELLIDO, new { @class = "form-control", @id = "txtApellido", @placeholder = ".", value = ViewData["CLI_APELLIDO"] })
                                                    @Html.Label("txtApellido", "Apellido")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @Html.TextBoxFor(m => m.CLI_CORREO, new { @class = "form-control", @id = "txtEmail", @placeholder = ".", value = ViewData["CLI_CORREO"] })
                                            @Html.Label("txtEmail", "Correo")
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.PasswordFor(m => m.CLI_CLAVE, new { @class = "form-control", @id = "txtContra", @placeholder = "." })
                                                    @Html.Label("txtContra", "Contraseña")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.PasswordFor(m => m.CLI_CONFIRMARCLAVE, new { @class = "form-control", @id = "txtconfirmarclave", @placeholder = "." })
                                                    @Html.Label("txtconfirmarclave", "Confirmar Contraseña")
                                                </div>
                                            </div>
                                        </div>

                                        @{
                                            if (ViewBag.Error != null)
                                            {
                                                <div class="row mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Crear Cuenta</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Index","Acceso")">¿Ya tienes una cuenta? Iniciar Sesión</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; LOS ALPES SA</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
